:root {
  --red: #ff0000;
  --navy: #1c1c55;
  --gold: #efb814;
  --white: #f2f2f2;
  --black: #2f2f2f;
  --blue: #195673;
}

@font-face {
  font-family: "Logistra";
  src: url("fonts/Logistra.ttf");
}

html,
body {
  background-color: var(--white);
  margin: 0;
  display: flex;
  font-family: "Oswald", sans-serif;
}

body {
  padding: 17px;
  position: relative;
  width: 100%;
  max-height: 100vh;
}

main {
  border: solid 8px var(--black);
  border-radius: 20px;
  min-height: calc(100vh - 34px);
  position: relative;
  width: 100%;
}

.rsyte-logo {
  width: 75px;
}

.header {
  width: 100%;
}

nav {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  position: relative;
}

.nav-left {
  display: flex;
  flex-wrap: nowrap;
  margin: 5px;
}
.rsyte-logo {
  margin: 5px;
}
.nav-button {
  margin: 0px 7px;
  font-weight: 600;
  text-decoration: none;
  color: var(--black);
  font-size: 120%;
  border-bottom: solid 2px #ffffff00;
  transition: all 0.15s ease-in-out;
}
.nav-button:hover {
  border-bottom: solid 2px var(--gold);
}

.hero-holder {
  max-height: 40%;
  overflow: visible;
}

.hero-main-body {
  margin-top: 0;
}

.hero-image {
  width: 116%;
  margin-left: -8%;
  position: relative;
  z-index: 2;
  animation: image-grow;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes image-grow {
  0% {
    width: 96%;
    margin-left: 2%;
  }
  100% {
    width: 116%;
    margin-left: -8%;
  }
}

.hero-text {
  position: absolute;
  bottom: 0px;
  padding: 0 8px;
  z-index: 3;
  background: rgb(242, 242, 242);
  background: linear-gradient(
    180deg,
    rgba(242, 242, 242, 0.03125) 0%,
    rgba(242, 242, 242, 1) 11%,
    rgba(242, 242, 242, 0) 83%
  );
}

.hero-main-text-holder {
  position: relative;
  width: 100%;
}

.hero-main-text {
  font-size: 400%;
  margin: 0;
  animation: color-change;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  text-shadow: 3px 3px 0px var(--white), 5px 5px 3px #00000096;
}

.main-two {
  text-align: end;
  margin-top: -20px;
}

@keyframes color-change {
  0% {
    color: var(--black);
  }
  50% {
    color: var(--black);
  }
  70% {
    color: #a81010;
  }
  100% {
    color: var(--black);
  }
}

.main-one {
}
.main-two {
}

.hero-button {
  padding: 8px 20px;
  background-color: var(--black);
  color: var(--white);
  border-radius: 12px 12px 0 0;
  font-size: 200%;
}

.hero-button-holder {
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
}

@media only screen and (min-width: 992px) {
  body {
    position: relative;
    padding: 17px;
  }
  main {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--white);
  }

  .rsyte-logo,
  .nav-left {
    margin: 15px;
  }

  .hero-main-body {
    position: relative;
  }

  .hero-holder {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: row-reverse;
    position: relative;
  }

  .hero-main-text-holder {
    position: relative;
    top: inherit;
  }

  .hero-text {
    position: relative;
    width: 50%;
  }

  .hero-image {
    width: 400px;
    animation: none;
  }
}
