:root {
  --red: #ff0000;
  --navy: #1c1c55;
  --gold: #efb814;
  --white: #f2f2f2;
  --black: #2f2f2f;
  --blue: #195673;
}

@font-face {
  font-family: "Logistra";
  src: url("fonts/Logistra.ttf");
}

html,
body {
  background-color: var(--white);
  margin: 0;
  display: flex;
  font-family: "Oswald", sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

main {
  border: solid 8px var(--black);
  border-radius: 20px;

  position: absolute;
  top: 17px;
  left: 17px;
  right: 17px;
  bottom: 17px;
}

.rsyte-logo {
  width: 75px;
}

.header {
  width: 100%;
}

nav {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  position: relative;
}

.nav-left {
  display: flex;
  flex-wrap: nowrap;
  margin: 5px;
}
.rsyte-logo {
  margin: 5px;
}
.nav-button {
  margin: 0px 7px;
  font-weight: 600;
  text-decoration: none;
  color: var(--black);
  font-size: 120%;
  border-bottom: solid 2px #ffffff00;
  transition: all 0.15s ease-in-out;
}
.nav-button:hover {
  border-bottom: solid 2px var(--gold);
}

.hero-holder {
  max-height: 40%;
  overflow: visible;
}

.hero-main-body {
  margin-top: 0;
}

.hero-image {
  width: 116%;
  margin-left: -8%;
  position: relative;
  z-index: 2;
  animation: image-grow;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes image-grow {
  0% {
    width: 96%;
    margin-left: 2%;
  }
  100% {
    width: 116%;
    margin-left: -8%;
  }
}

.hero-text {
  position: absolute;
  bottom: 0px;
  padding: 0 8px;
  z-index: 3;
}

.hero-main-text-holder {
  position: relative;
  width: 100%;
}

.hero-main-text {
  font-size: 400%;
  margin: 0;
  animation: color-change;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  text-shadow: 3px 3px 0px var(--white), 5px 5px 3px #00000096;
}

.main-two {
  text-align: end;
  margin-top: -20px;
}

@keyframes color-change {
  0% {
    color: var(--black);
  }
  50% {
    color: var(--black);
  }
  70% {
    color: #a81010;
  }
  100% {
    color: var(--black);
  }
}
.aside-links {
  display: none;
}

.hero-button {
  padding: 8px 20px;
  background-color: var(--black);
  color: var(--white);
  border-radius: 12px 12px 0 0;
  font-size: 200%;
  transition: 0.15s all ease-in-out;
  text-decoration: none;
}
.hero-button:hover {
  color: var(--gold);
  transition: 0.15s all ease-in-out;
}

.hero-button-holder {
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
}

@media only screen and (min-width: 992px) {
  body {
    overflow: hidden;
  }
  .hero-image {
    width: 32%;
    animation: scaler;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    object-fit: cover;
    object-position: 100%;
    overflow: visible;
    padding-top: 10%;
  }

  @keyframes scaler {
    0% {
      width: 32%;
      margin-right: 6%;
    }
    100% {
      width: 36%;
      margin-right: 4%;
    }
  }

  .aside-links {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    right: 5px;
    top: 50%;
    width: 50px;
    z-index: 4;
  }

  .icon-link {
    width: 50px;
    padding: 0px;
    margin: 3px;
    transition: 0.15s all ease-in-out;
  }

  .icon-link:hover {
    padding: 0px;
    margin: 0px;
    transition: 0.15s all ease-in-out;
  }

  .icon {
    width: 100%;
    opacity: 50%;
    transition: 0.15s all ease-in-out;
  }
  .icon:hover {
    opacity: 100%;
    transition: 0.15s all ease-in-out;
  }

  .rsyte-logo {
    margin: 7px;
    border-radius: 50%;
    padding: 3px;
    transition: 0.2s all ease-out;
  }
  .rsyte-logo:hover {
    background-color: var(--gold);
    border-bottom: none;
    transition: 0.2s all ease-out;
  }

  .nav-left {
    margin-right: 15px;
  }

  .hero-main-text {
    font-size: 10vw;
  }

  .hero-main-text-holder {
    line-height: 10vw;
    margin-top: 40px;
    transition: 0.5s all ease-in-out;
  }

  .hero-main-text-holder:hover {
    color: #a81010;
    transition: 0.5s all ease-in-out;
  }

  .hero-main-body {
    font-size: 2vw;
  }

  .nav-button {
    margin: 15px;
    padding: 0 3px;
    background-color: var(--white);
  }

  .hero-holder {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 25px 25px 25px 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    max-height: inherit;
  }

  .hero-text {
    position: absolute;
    left: 5%;
    bottom: 0;
    top: 0;
    padding: 0 40px 25px;
    width: 50%;
    background: none;
    max-height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .hero-button-holder {
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
  }
}
