:root {
  --red: #ff0000;
  --navy: #1c1c55;
  --gold: #efb814;
  --white: #f2f2f2;
  --black: #2f2f2f;
  --blue: #195673;
}

@font-face {
  font-family: "Logistra";
  src: url("fonts/Logistra.ttf");
}

html,
body {
  background-color: var(--white);
  margin: 0;
  display: flex;
  font-family: "Oswald", sans-serif;
}

body {
  padding: 17px;
}

main {
  border: solid 8px var(--black);
  border-radius: 20px;
}

.rsyte-logo {
  width: 75px;
}

.header {
  width: 100%;
}

nav {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  position: relative;
}

.nav-left {
  display: flex;
  flex-wrap: nowrap;
  margin: 5px;
}
.rsyte-logo {
  margin: 5px;
}
.nav-button {
  margin: 0px 7px;
  font-weight: 600;
  text-decoration: none;
  color: var(--black);
  font-size: 120%;
  border-bottom: solid 2px #ffffff00;
  transition: all 0.15s ease-in-out;
}
.nav-button:hover {
  border-bottom: solid 2px var(--gold);
}

.hero-holder {
}

.hero-image {
  width: 116%;
  margin-left: -8%;
  position: relative;
  z-index: 2;
  /* animation: image-grow; */
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes image-grow {
  0% {
    width: 90%;
    left: 5%;
  }
  100% {
    width: 98%;
    left: 1%;
  }
}

.hero-text {
}

.hero-main-text {
  animation: color-change;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  text-shadow: 3px 3px 0px var(--white), 5px 5px 3px #00000096;
}

@keyframes color-change {
  0% {
    color: var(--black);
  }
  50% {
    color: var(--black);
  }
  70% {
    color: #a81010;
  }
  100% {
    color: var(--black);
  }
}

.main-one {
}
.main-two {
}
.hero-main-body {
}

.hero-button {
  padding: 8px 20px;
  background-color: var(--black);
  color: var(--white);
  border-radius: 12px 12px 0 0;
  font-size: 200%;
}

.hero-button-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
}
